
<section>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h2 class="text-muted mt-2 mb-3 text-center">Account</h2>
                <ul class="nav flex-column justify-content-center">
                    <li class="nav-item text-center">
                        <a href="#" class="nav-link btn-primary btn-lg">Login</a>
                    </li>
                    <br>
                    <li class="nav-item text-center">
                        <a href="#" class="nav-link btn-primary btn-lg active">Register</a>
                    </li>
                </ul>
            </div>
            <div class="col">