<p>calculator works!</p>
<div class = title >calculator</div> 
	

		
            
         
             value1<input type ="number" #v1 ><br><br>
             value2<input type ="number" #v2 ><br><br>
         
            
             <input type="button" value="+" onclick="add(value1,value2)"/>
             <input type="button" value="-" onclick="sub(value1,value2)"/>
             <input type="button" value="*" onclick="mul(value1,value2)"/>
             <input type="button" value="/" onclick="div(value1,value2)"/>
             <input type="button" value="c" onclick="clr()"/> <br><br>
             
   
        <tr> 
             
             <td>Result<input type="text" id="result" placeholder="Result"></td>           
            </tr>